{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- =============================
      Start Header
    =============================== -->
<section class="header" id="home">
  <div class="slider-prev-button slider-button">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="slider-next-button slider-button">
    <i class="fa fa-angle-right"></i>
  </div>
  {{ with $data.homepage.hero }}
  <div class="owl-carousel owl-full-width owl-theme" id="background-slide">
    {{ range .slider_image }}
    <div class="slider"><img class="img-fluid" src="{{ . | absURL }}" alt="slider-background"></div>
    {{ end }}
  </div>
  <div class="container">
    <div class="row content">
      <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 head-container">
        <div class="head-holder">
          <h1 class="introduction">{{ .title | markdownify | emojify }}</h1>
          <div class="animated-text">
            <strong class="cd-headline clip">
              <span class="cd-words-wrapper">
                {{ range $index, $elements:= .occupations }}
                <b {{ if eq $index 0 }} class="is-visible" {{ end }}>{{ . }}</b>
                {{ end }}
              </span>
            </strong>
          </div>
          {{ if .button.enable }}
          {{ with .button }}
          <a class="hireMe" href="{{ .link }}">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if $data.homepage.fullscreen_nav.enable }}
  <div class="navigation-icon">
    <input id="burger" type="checkbox" />
    <label for="burger" class="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="fullscreen-nav-container"
    style="background-image: url('{{ $data.homepage.fullscreen_nav.bg_image | absURL }}');">
    <div class="container-fluid">
      <div class="full-nav-container row">
        <div class="full-nav-holder">
          <div class="full-nav-content">
            <div class="name">
              {{ with $data.homepage.fullscreen_nav.first_name }}<div class="first-name">{{ . }}</div>{{ end }}
              {{ with $data.homepage.fullscreen_nav.last_name }}<div class="last-name">{{ . }}</div>{{ end }}
            </div>
            <div class="fulscreen-nav">
              <ul class="list-inline fullscreen-nav-holder">
                {{ range .Site.Menus.main }}
                <li><a class="text-uppercase" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                <li><a class="text-uppercase" href="https://consciousml.github.io/blog/">Blog</a></li>
              </ul>
            </div>
            <div class="full-nav-icon-holder">
              <ul class="full-nav-icons list-inline">
                {{ range .Site.Params.social }}
                <li><a href="{{ .link | safeURL }}"><i class="fa {{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- =============================
       End Header
    =============================== -->

<!-- =============================
      Start Menu
    =============================== -->
<section class="menu" id="menu">
  <nav>
    <!-- desktop-menu -->
    <div class="menu-container">
      <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
        {{ range .Site.Menus.main }}
        <li class="menu-item hvr-underline-from-left 1"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        <li class="menu-item hvr-underline-from-left 1"><a href="https://consciousml.github.io/blog/">Blog</a></li>
      </ul>

      <!-- Language List -->
      <!--
      {{- if .Site.IsMultiLingual }}
      <select id="select-language" onchange="location = this.value;">
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
        {{ $selected := false }}
        {{ if eq $pageLang .Lang}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
        </option>
        {{ else }}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </select>
      {{ end }}
      -->
      <!-- /desktop-menu -->

      <!-- mobile-menu -->
      <div class="mobile-menu">
        <a class="menu-link">
          <div class="mobile-menu-nav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <div class="menu-slider">
          <nav>
            <ul class="mobile-menu-list">
              {{ range .Site.Menus.main }}
              <li class="hvr-shutter-out-vertical mobile-menu-item 1"><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            <!-- Language List -->
            {{- if .Site.IsMultiLingual }}
            <select class="ml-4" id="select-language" onchange="location = this.value;">
              {{ $siteLanguages := .Site.Languages}}
              {{ $pageLang := .Page.Lang}}
              {{ range .Page.AllTranslations }}
              {{ $translation := .}}
              {{ range $siteLanguages }}
              {{ if eq $translation.Lang .Lang }}
              {{ $selected := false }}
              {{ if eq $pageLang .Lang}}
              <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
              </option>
              {{ else }}
              <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
            </select>
            {{ end }}
            <ul class="mobile-menu-icons list-inline">
              {{ range .Site.Params.social }}
              <li><a href="{{ .link | safeURL }}"><i class="fa {{ .icon }}"></i></a></li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</section>
<!-- =============================
      End Menu
    =============================== -->

<!-- =============================
       Start About Me
    =============================== -->
<section class="about-me" id="about">
  <div class="container">
    {{ if $data.homepage.about.enable }}
    {{ with $data.homepage.about }}
    <div class="row about-me-holder">
      <div class="col-lg-6 col-md-6 col-sm-6 about-me-text d-flex align-self-center">
        <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
          <h1>{{ .title | safeHTML }}</h1>
          <p>{{ .content | markdownify | emojify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="download-cv hvr-icon-hang" {{ if .download }}download{{ if .filename }}="{{ .filename }}" {{ end }} {{ end }}> {{ .label }} &nbsp; &nbsp; &nbsp;</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ with .image }}
      <div class="col-lg- col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
        <img class="img-fluid" src="{{ . | absURL }}" alt="about-me">
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}


    <!-- =============================
            Experiences
    =============================== -->
    <div class="row experience-skill">
      {{ if $data.homepage.experience.enable }}
      {{ with $data.homepage.experience }}
      <div class="col-lg-6 col-sm-6 col-11 experience wow fadeInUp" data-wow-duration="1.5s">
        <h3>{{ .title }}</h3>
        <ul class="experience-chart">
          {{ range .experience_list }}
          <li>
            <div class="single-experience">
              <h4>{{ .name | markdownify }}</h4>
              {{ with .company }} <span>{{ . | markdownify }}</span> {{ end }}<br>
              {{ with .duration }} <span>{{ . | markdownify }}</span> {{ end }}
              {{ with .content }} <p>{{ . | markdownify}}</p> {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ end }}

    <!-- =============================
            Skills
    =============================== -->
      {{ if $data.homepage.skill.enable }}
      {{ with $data.homepage.skill }}
      <div class="col-lg-6 col-sm-6 col-11 skill wow fadeInUp" data-wow-duration="1.5s">
        <h3>{{ .title }}</h3>
        <div class="skill-progress-bar">
          {{ range .skill_list }}
          <div class="clearfix">
            <span class="skillbar-title">{{ .name }}</span>
            <span class="skill-bar-percent">{{ .parcentage }}</span>
            <div class="skillbar" data-percent="{{ .parcentage }}">
              <div class="skillbar-bar"></div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>

    <!-- =============================
            Education
    =============================== -->
    <div class="row experience-skill">
      <div class="col-lg-6 col-sm-6 col-11 experience wow fadeInUp" data-wow-duration="1.5s">
        <h3>EDUCATION</h3>
        <ul class="experience-chart">
          <li>
            <div class="single-experience">
              <h4>EPITA</h4>
              <span>Graduate School of Computer Science</span><br>
              <span>Paris, France</span><br>
              <span>2015-2018</span>
              <p>Top 1 computer engineering school in France. <br>Artificial intelligence major.</p>
            </div>
          </li>
        </ul>
        <ul class="experience-chart">
          <li>
            <div class="single-experience">
              <h4>Sejong University</h4>
              <span>세종대학교</span><br>
              <span>Seoul, South Korea</span><br>
              <span>2015</span>
              <p>Exchange student for 6 months</p>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- =============================
      End About Me
    =============================== -->

<!-- =============================
      Start Services
    =============================== -->
<section class="services" id="service">
  {{ if $data.homepage.service.enable }}
  {{ with $data.homepage.service }}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto col-sm-10">
        <div class="wow fadeInUp" data-wow-duration="1.5s">
          <div class="services-heading">
            <div class="bar"></div>
            <h1>{{ .title }}</h1>
          </div>
          <div class="row">
            {{ range .service_list }}
            <div class="col-lg-4 col-sm-4 col-12 services-icon">
              <div class="service-img">
                <img class="img-fluid" src="{{ .image | absURL }}" alt="{{ .name | markdownify }}">
              </div>
              <div class="service-label">{{ .name | markdownify }}</div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}

  {{ if $data.homepage.call_to_action.enable }}
  {{ with $data.homepage.call_to_action }}
  <div class="need-service wow fadeInUp" data-wow-duration="1.5s"
    style="background-image: url('{{ .bg_image | absURL }}');">
    <h1>{{ .title | markdownify }}</h1>
    {{ with .content }} <p class="text-white">{{ . | markdownify }}</p> {{ end }}
    {{ if .button.enable }}
    {{ with .button }}
    <a href="{{ .link }}">{{ .label }}</a>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</section>
<!-- =============================
       End Services
    =============================== -->

<!-- =============================
       Start Portfolio
    =============================== -->
<section class="about-me" id="about">
  <div class="container">
<!-- =============================
       PROJECTS TITLE
    =============================== -->
   {{ if $data.homepage.portfolio.enable }}
   {{ with $data.homepage.portfolio }}
   <section class="portfolio" id="portfolio">
     <div class="container-fluid text-center">
       <div class="row portfolio-holder text-left">
         <!-- Text for categories -->
         <div class="col-12 text-center">
           <h1 class="wow fadeInUp" data-wow-duration="1.5s">PROJECTS</h1>
         </div>
       </div>
     </div>
   </section>
   {{ end }}
   {{ end }} 
    <!-- =============================
       Car Re-ID
    =============================== -->
   {{ if $data.homepage.about.enable }}
   {{ with $data.homepage.about }}
   <div class="row about-me-holder">
     <div class="col-lg-6 col-md-6 col-sm-6 about-me-text d-flex align-self-center">
       <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
         <h1>Car Re-Identification</h1>
         <p>State-of-the-art implementation of a multi-camera vehicle re-identification.
           The main challenge of this project was to build a model able to extract features of cars in real-time
           to recognize the exact same car in different cameras.
           The model, trained on triplet loss, is capable to recognize fine-grained details: broken wheel,
           objects on the board, or stickers to differentiate two cars with same model and color in a 360° fashion.
           I implemented the state-of-the-art of 2018 and adapted a pedestrian re-identification paper to improve the solution.
         </p>
         {{ if .button.enable }}
         {{ with .button }}
         <a href="{{ .link | absURL }}" class="download-cv hvr-icon-hang"> READ MORE &nbsp; &nbsp; &nbsp;</a>
         {{ end }}
         {{ end }}
       </div>
     </div>
     {{ with .image }}
     <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
       <img class="img-fluid" src="images/projects/cadillac.jpg" alt="about-me">
     </div>
     {{ end }}
   </div>
   {{ end }}
   {{ end }}

   <br>

    <!-- =============================
       Coronary Calcium
    =============================== -->
   {{ if $data.homepage.about.enable }}
   {{ with $data.homepage.about }}
   <div class="row about-me-holder">
     <div class="col-lg-6 col-md-6 col-sm-6 about-me-text d-flex align-self-center">
       <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
         <h1>Coronary Calcium Classification</h1>
         <p>Coronary calcium scan is a test that measures the amount of calcium in the walls of the heart’s arteries.
           A patient with a high quantity of calcium in his arteries will inevitably die without the proper treatment.
           The goal of this project was to build a coronary calcium classifier to predict the severity of the patients heart disease.
           The model was able to predict for every calcium point in which artery it was located as it is very important to know if the calcium is
           in the main or in minor arteries.
           Trained the model on 3D X-ray data using a hand-made CNN.
         </p>
         {{ if .button.enable }}
         {{ with .button }}
         <a href="{{ .link | absURL }}" class="download-cv hvr-icon-hang"> READ MORE &nbsp; &nbsp; &nbsp;</a>
         {{ end }}
         {{ end }}
       </div>
     </div>
     {{ with .image }}
     <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
       <img class="img-fluid" src="images/projects/heart.jpg" alt="about-me">
     </div>
     {{ end }}
   </div>
   {{ end }}
   {{ end }}

   <br>

    <!-- =============================
       SmartCar
    =============================== -->
   {{ if $data.homepage.about.enable }}
   {{ with $data.homepage.about }}
   <div class="row about-me-holder">
     <div class="col-lg-6 col-md-6 col-sm-6 about-me-text d-flex align-self-center">
       <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
         <h1>Autonomous Remote Car</h1>
         <p>Designed an autonomous driving remote car.
           Assembled a Raspberry on top of a remote-controlled car embedded with a Convolutional Neural Network.
            Trained the model on some data captured while driving the car using an xbox controller and some virtual data generated with the
            <a href="https://docs.donkeycar.com/guide/simulator/">DonkeyCar simulator</a>. This project was held during my last year at EPITA as
            a graduation project and was selected to be shown at my university open house.
         </p>
         {{ if .button.enable }}
         {{ with .button }}
         <a href="{{ .link | absURL }}" class="download-cv hvr-icon-hang"> READ MORE &nbsp; &nbsp; &nbsp;</a>
         {{ end }}
         {{ end }}
       </div>
     </div>
     {{ with .image }}
     <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
       <img class="img-fluid" src="images/projects/smartcar.jpg" alt="about-me">
     </div>
     {{ end }}
   </div>
   {{ end }}
   {{ end }}

    <br>

    <!-- =============================
       ML BLOG
    =============================== -->
    {{ if $data.homepage.about.enable }}
    {{ with $data.homepage.about }}
    <div class="row about-me-holder">
      <div class="col-lg-6 col-md-6 col-sm-6 about-me-text d-flex align-self-center">
        <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
          <h1>Machine Learning Blog</h1>
          <p>From scratch implementation in Pytorch of the following algorithms:
            <ul>
            <li>Support Vector Machine</li>
            <li>Decision Tree</li>
            <li>Random Forest</li>
            <li>Adaboost</li>
            <li>K-means</li>
            <li>Gaussian Mixture Model</li>
            <li>Naive Bayes Classifier</li>
            <li>Polynomial Regression</li>
            <li>K-Nearest Neighbors</li>
            <li>Logistic Regression</li>
            <li>Linear Regression.</li>
            </ul>
          </p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="https://github.com/ConsciousML/ml-from-scratch" class="download-cv hvr-icon-hang"> READ MORE &nbsp; &nbsp; &nbsp;</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ with .image }}
      <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
        <img class="img-fluid" src="images/projects/dices.jpg" alt="about-me">
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}

    
    </div>
  </div>
</section>


<!-- =============================
       End Portfolio
    =============================== -->

<!-- =============================
       Start Contact
    =============================== -->
{{ if $data.homepage.contact.enable }}
<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="contact-holder col-lg-8 offset-lg-2 col-sm-8 offset-sm-2">
        <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ $data.homepage.contact.title }}</h1>
        <form method="POST" action="{{ .Site.Params.contact_form_action }}" data-toggle="validator">
          <div class="form-container row wow fadeInUp" data-wow-duration="1.5s">
            <div class="form-group col-lg-6">
              <input class="form-control" type="text" name="username" id="username" placeholder="Name" required>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-lg-6">
              <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-lg-12">
              <textarea class="form-control" name="message" id="message" rows="12" placeholder="Message"></textarea>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-lg-12 sub-button">
              <button class="submit form-control hvr-icon-push" type="submit" value="send"> Submit </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="footer col-lg-10 offset-lg-1">
        <hr>
        <ul class="footer-icons list-inline">
          {{ range .Site.Params.social }}
          <li><a href="{{ .link | safeURL }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
        <div class="to-top">
          <a href="#home"><i class="fa fa-chevron-up"></i></a>
        </div>
        <div class="credit">
          <i class="fa fa-copyright"></i> Copyright 2020 a hugo theme
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- =============================
       End Contact
    =============================== -->
<a href="#home" class="scroll-up hvr-icon-up"></a>

{{ end }}